@{
    ViewBag.Title = "Index";
    }




<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img  src="~/Content/img/aa.jpg" style="height:20%;width:60%;" alt="Chania">
        </div>

        <div class="item">
            <img src="~/Content/img/bb.jpg" style="height:20.2%;width:60%"  alt="Chania">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/TH1.png" alt="..." style="height:80%;width:60%">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/TH2.jpg" alt="..." style="height:80%;width:60%">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/TH3.jpg" alt="..." style="height:78%;width:60%">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
<h1>Instructions:</h1>

<h3>Step 1:</h3> At the end of home page we will see a neobux add icon
with mouse picture on it.
<h3>Step 2:</h3> Click on it, it will take you on neobux website, where u can register your free account.
<h3>Step 3:</h3> while registration it will demand an account for money transfer, at that time u can enter same email address, so u can complete your registration process.
<h3>Step 4:</h3> after verification your email address, you can login.
<h3>Step 5:</h3> After login click on ViewAdviertesment to view you adds
<h3>Step 6:</h3> Click on any add, you see an red dot, click on it, after clicking your add will be show in new tab or same tab. It will show on screen just for 5- 10 second. Once it completed 0.001$ will be transferred to your account.
<h3>Step 7:</h3> In this way you can watch your adds daily and earn money.<br />
<h1>Note:</h1> At start u may earn 100 - 1000 rupees at max, but it does;t mean u will earn same amount later on. Definitely it will increase. Once you have completed your first month you can per-mote your referrals that will increase your earning. Referrals mean you reference.
Now Click here for registration ===>>>   <a href="https://www.neobux.com/?r=rmic309"><img src="https://img.neobux.com/imagens/banner9.gif" width="468" height="60"></a>
<p>----------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<br />
<h1>Faster Way To Earn Money</h1>
<h2>Through Cash Jobs Portal</h2>
For registration Click here on picture: <a href="http://cashjob.xyz/?job=8985"><img src="~/Content/img/cashjob.png" width="468" height="100"></a>